
[V200R003C00]
#
 sysname rt100
#
 snmp-agent local-engineid 800007DB03000000000000
 snmp-agent 
#
 clock timezone China-Standard-Time minus 08:00:00
#
portal local-server load flash:/portalpage.zip
#
 drop illegal-mac alarm
#
router id 1.1.1.100 
#
 wlan ac-global carrier id other ac id 0
#
 set cpu-usage threshold 80 restore 75
#
acl number 2333  
 rule 5 permit source 41.3.16.0 0.0.0.255 
 rule 10 permit source 41.3.17.0 0.0.0.255 
 rule 15 permit source 41.3.18.0 0.0.0.255 
 rule 20 permit source 41.3.19.0 0.0.0.255 
 rule 25 permit source 41.4.10.0 0.0.0.255 
 rule 30 permit source 41.4.11.0 0.0.0.255 
 rule 35 permit source 41.4.12.0 0.0.0.255 
 rule 40 permit source 41.4.13.0 0.0.0.255 
 rule 45 deny 
#
aaa 
 authentication-scheme default
 authorization-scheme default
 accounting-scheme default
 domain default 
 domain default_admin 
 local-user admin password cipher %$%$K8m.Nt84DZ}e#<0`8bmE3Uw}%$%$
 local-user admin service-type http
#
firewall zone Local
 priority 15
#
interface GigabitEthernet0/0/0
 ip address 41.1.2.100 255.255.255.0 
#
interface GigabitEthernet0/0/1
 ip address 172.16.1.2 255.255.255.0 
 nat outbound 2333
#
interface GigabitEthernet0/0/2
#
interface NULL0
#
interface LoopBack0
 ip address 1.1.1.100 255.255.255.255 
#
interface LoopBack1
 ip address 192.168.1.100 255.255.255.255 
#
ospf 1 
 area 0.0.0.0 
  network 41.1.2.0 0.0.0.255 
  network 172.16.1.0 0.0.0.255 
  network 192.168.1.100 0.0.0.0 
#
ip route-static 172.16.1.0 255.255.255.0 172.16.1.1
#
user-interface con 0
 authentication-mode password
user-interface vty 0 4
user-interface vty 16 20
#
wlan ac
#
return