
[V200R003C00]
#
 sysname rt11
#
 board add 0/4 2E1-F 
#
 snmp-agent local-engineid 800007DB03000000000000
 snmp-agent 
#
 clock timezone China-Standard-Time minus 08:00:00
#
portal local-server load flash:/portalpage.zip
#
 drop illegal-mac alarm
#
router id 3.1.1.11 
#
 wlan ac-global carrier id other ac id 0
#
 set cpu-usage threshold 80 restore 75
#
aaa 
 authentication-scheme default
 authorization-scheme default
 accounting-scheme default
 domain default 
 domain default_admin 
 local-user admin password cipher %$%$K8m.Nt84DZ}e#<0`8bmE3Uw}%$%$
 local-user admin service-type http
#
firewall zone Local
 priority 15
#
interface Serial4/0/0
 link-protocol ppp
 ip address 41.3.12.254 255.255.255.0 
#
interface Serial4/0/1
 link-protocol ppp
#
interface GigabitEthernet0/0/0
 ip address 41.3.16.11 255.255.255.0 
 vrrp vrid 11 virtual-ip 41.3.16.2
 vrrp vrid 11 priority 110
#
interface GigabitEthernet0/0/1
 ip address 41.3.17.11 255.255.255.0 
 vrrp vrid 12 virtual-ip 41.3.17.2
#
interface GigabitEthernet0/0/2
#
interface NULL0
#
interface LoopBack1
 ip address 192.168.3.11 255.255.255.255 
#
ospf 1 
 area 0.0.0.1 
  network 41.3.12.254 0.0.0.0 
  network 41.3.16.11 0.0.0.0 
  network 41.3.17.11 0.0.0.0 
  network 41.3.112.242 0.0.0.0 
  network 192.168.3.11 0.0.0.0 
#
user-interface con 0
 authentication-mode password
user-interface vty 0 4
user-interface vty 16 20
#
wlan ac
#
return