
[V200R003C00]
#
 sysname rt3
#
 board add 0/4 4GET 
#
 snmp-agent local-engineid 800007DB03000000000000
 snmp-agent 
#
 clock timezone China-Standard-Time minus 08:00:00
#
portal local-server load flash:/portalpage.zip
#
 drop illegal-mac alarm
#
router id 1.1.1.3 
#
 wlan ac-global carrier id other ac id 0
#
 set cpu-usage threshold 80 restore 75
#
acl number 2030  
 rule 5 permit source 41.4.124.242 0 
 rule 10 permit source 192.168.0.0 0.0.0.255 
 rule 15 permit source 172.16.1.0 0.0.0.255 
 rule 20 deny 
acl number 2031  
 rule 5 permit source 41.3.16.0 0.0.0.255 
 rule 10 permit source 41.3.17.0 0.0.0.255 
 rule 15 permit source 41.3.18.0 0.0.0.255 
 rule 20 permit source 41.3.19.0 0.0.0.255 
 rule 25 deny 
#
aaa 
 authentication-scheme default
 authorization-scheme default
 accounting-scheme default
 domain default 
 domain default_admin 
 local-user admin password cipher %$%$K8m.Nt84DZ}e#<0`8bmE3Uw}%$%$
 local-user admin service-type http
#
firewall zone Local
 priority 15
#
interface GigabitEthernet0/0/0
 ip address 41.1.2.3 255.255.255.0 
#
interface GigabitEthernet0/0/1
 ip address 41.1.3.3 255.255.255.0 
#
interface GigabitEthernet0/0/2
#
interface GigabitEthernet4/0/0
 ip address 41.0.0.245 255.255.255.252 
#
interface GigabitEthernet4/0/1
#
interface GigabitEthernet4/0/2
#
interface GigabitEthernet4/0/3
#
interface NULL0
#
interface LoopBack0
 ip address 1.1.1.3 255.255.255.255 
#
interface LoopBack1
 ip address 192.168.1.3 255.255.255.255 
#
bgp 1
 router-id 1.1.1.3
 peer 1.1.1.5 as-number 1 
 peer 1.1.1.5 connect-interface LoopBack0
 peer 41.0.0.246 as-number 3 
 #
 ipv4-family unicast
  undo synchronization
  default med 300 
  network 1.1.1.3 255.255.255.255 
  network 172.16.1.0 255.255.255.0 
  peer 1.1.1.5 enable
  peer 1.1.1.5 next-hop-local 
  peer 41.0.0.246 enable
  peer 41.0.0.246 filter-policy 2030 export
#
ospf 1 
 import-route bgp route-policy rt3in
 area 0.0.0.0 
  network 1.1.1.3 0.0.0.0 
  network 41.1.2.0 0.0.0.255 
  network 41.1.3.0 0.0.0.255 
  network 192.168.1.3 0.0.0.0 
#
route-policy rt3in permit node 10 
 if-match acl 2031 
 apply cost 100 
#
user-interface con 0
 authentication-mode password
user-interface vty 0 4
user-interface vty 16 20
#
wlan ac
#
return