
#
sysname ls3
#
router id 3.2.1.3
#
vlan batch 2 to 6
#
cluster enable
ntdp enable
ndp enable
#
drop illegal-mac alarm
#
diffserv domain default
#
drop-profile default
#
aaa
 authentication-scheme default
 authorization-scheme default
 accounting-scheme default
 domain default
 domain default_admin
 local-user admin password simple admin
 local-user admin service-type http
#
interface Vlanif1
 ip address 41.3.8.3 255.255.255.0
#
interface Vlanif2
 ip address 41.3.10.3 255.255.255.0
 ospf cost 100
#
interface Vlanif3
 ip address 41.3.2.3 255.255.255.0
#
interface Vlanif4
 ip address 41.3.6.3 255.255.255.0
 ospf cost 100
#
interface Vlanif5
 ip address 41.3.0.249 255.255.255.252
#
interface Vlanif6
 ip address 41.3.4.3 255.255.255.0
#
interface MEth0/0/1
#
interface GigabitEthernet0/0/1
 port link-type access
#
interface GigabitEthernet0/0/2
 port link-type access
 port default vlan 2
#
interface GigabitEthernet0/0/3
 port link-type access
 port default vlan 3
#
interface GigabitEthernet0/0/4
 port link-type access
 port default vlan 4
#
interface GigabitEthernet0/0/5
 port link-type access
 port default vlan 5
#
interface GigabitEthernet0/0/6
 port link-type access
 port default vlan 6
#
interface GigabitEthernet0/0/7
#
interface GigabitEthernet0/0/8
#
interface GigabitEthernet0/0/9
#
interface GigabitEthernet0/0/10
#
interface GigabitEthernet0/0/11
#
interface GigabitEthernet0/0/12
#
interface GigabitEthernet0/0/13
#
interface GigabitEthernet0/0/14
#
interface GigabitEthernet0/0/15
#
interface GigabitEthernet0/0/16
#
interface GigabitEthernet0/0/17
#
interface GigabitEthernet0/0/18
#
interface GigabitEthernet0/0/19
#
interface GigabitEthernet0/0/20
#
interface GigabitEthernet0/0/21
#
interface GigabitEthernet0/0/22
#
interface GigabitEthernet0/0/23
#
interface GigabitEthernet0/0/24
#
interface NULL0
#
interface LoopBack1
 ip address 192.168.3.103 255.255.255.255
#
ospf 1
 area 0.0.0.0
  network 41.0.0.0 0.255.255.255
  network 192.168.3.103 0.0.0.0
#
user-interface con 0
user-interface vty 0 4
#
return